@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~video-react/styles/scss/video-react";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  color:whitesmoke;
  font-family: 'Mitr', sans-serif;
  outline: none;
}