@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  color:whitesmoke;
  font-family: 'Mitr', sans-serif;
  outline: none;
}

@keyframes expandRight {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}

.custom-transition {
  animation: expandRight 0.5s ease-in-out;
}